# Python (Bytecode & C-extensions)
__pycache__/
*.py[cod]
*.so

# Virtual environments
.venv/
venv/
ENV/
env/

# PyCharm / JetBrains IDE (Ignore local/user-specific data only)
.idea/

# Operating system files
.DS_Store
Thumbs.db
